<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weather app | About</title>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="wrapper">
    {{>header}}

    <p>This site was created by Oleh Hladkov.</p>
    <p>It uses data from
      <a href="https://www.mapbox.com" traget="_blank" rel="noopener noreferrer">mapbox.com</a> and
      <a href="https://weatherstack.com" traget="_blank" rel="noopener noreferrer">weatherstack.com</a>
    </p>

    <img src="/images/avatar.jpg" class="avatar" alt="avatar" />
  </div>

  {{>footer}}
</body>
</html>
